*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "Josefin Sans", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 53.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 48%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-family: "Cormorant Infant", serif, sans-serif;
  color: #fff;
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}

.titleInfo {
  margin-bottom: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  display: inline-block;
  text-transform: uppercase;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
}

.fz40 {
  font-size: 4rem;
}

.fz36 {
  font-size: 3.6rem;
}

.btn {
  padding: 2rem 5rem;
  border: none;
  border: 0.1rem solid #e1b168;
  background-color: transparent;
  color: #e1b168;
  font-size: 2.2rem;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
.btn:hover {
  background-color: #e1b168;
  color: #000;
}

.form__btn--white {
  background-color: transparent;
  color: #e1b168;
  border: 0.1rem solid #858585;
}
.form__btn--white:hover {
  background-color: #fff;
  color: #000;
}

.clients {
  padding: 12rem 4rem;
  background-color: #292e36;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .clients {
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .clients {
    padding: 6rem 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .clients__text {
    text-align: center;
  }
}

.clients__text--titleInfo {
  color: #fff;
}

.clients__slider {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .clients__slider {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 65rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .clients__slider {
    max-width: 45rem;
  }
}

.slider__box {
  min-width: 30rem;
  margin: 1rem;
  padding: 2rem;
  background-color: #343942;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.slider__btn--left,
.slider__btn--right {
  order: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border: none;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.slider__btn--left {
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 1;
}

.slider__btn--right {
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
}

.box__header {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.header__img--client {
  width: 10rem;
  height: 10rem;
  position: relative;
}
.header__img--client::after {
  content: url("../../img/F.svg");
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.header__info--subtitle {
  color: #e1b168;
}

.box__line {
  width: 100%;
  height: 0.1rem;
  background-color: #797e89;
}

.clients__dots {
  display: flex;
  align-self: center;
  gap: 1rem;
}

.clients__dots--dot {
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.dishes {
  padding: 14rem 4rem 20rem;
  display: flex;
  gap: 5.5rem;
}
@media only screen and (max-width: 56.25em) {
  .dishes {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .dishes {
    padding: 6rem 4rem;
  }
}

.dishes__try {
  max-width: 48.6rem;
}
@media only screen and (max-width: 56.25em) {
  .dishes__try {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.dishes__try--title {
  color: #000;
  margin-bottom: 1.3rem;
}

.dishes__try--subtitle {
  color: #000;
  margin-bottom: 4.5rem;
}

.dishes__try__img {
  max-width: 40rem;
  margin-bottom: 6rem;
}

.dishes__menu {
  width: 100%;
}

.menu__item {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 7rem;
}

.menu__item--title {
  color: #000;
}
@media only screen and (max-width: 37.5em) {
  .menu__item--title {
    text-align: center;
  }
}

.item__eat {
  width: 80rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.item__eat:hover {
  color: #000;
  background-color: rgba(235, 233, 233, 0.299);
  border-radius: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .item__eat {
    width: 70rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .item__eat {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .item__eat {
    padding: 2rem;
    background-color: #fff8f5;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
  }
  .item__eat:hover {
    cursor: pointer;
  }
}

.eat__img {
  max-width: 8.4rem;
}

.eat__text {
  width: 100%;
}

.eat__text--title {
  color: #292e36;
}

.eat__text--subtitle {
  color: #555555;
}

.eat__text--span {
  margin-top: 4rem;
  width: 70%;
  height: 0.2rem;
  background-color: #aaa;
}
@media only screen and (max-width: 75em) {
  .eat__text--span {
    width: 30%;
  }
}
@media only screen and (max-width: 56.25em) {
  .eat__text--span {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .eat__text--span {
    width: 10%;
  }
}

.eat__text--price {
  color: #555555;
}

.form {
  width: 100%;
  padding: 14rem 26rem;
  background: url("../img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 75em) {
  .form {
    padding: 12rem 20rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .form {
    padding: 8rem 14rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form {
    padding: 4rem 3rem;
  }
}

.form__box {
  padding: 14rem;
  background-color: rgba(41, 46, 54, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.4rem;
}
@media only screen and (max-width: 75em) {
  .form__box {
    padding: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .form__box {
    padding: 4rem;
  }
}

.form__text {
  color: #fff;
  text-align: center;
}

.form__input {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.form__input input {
  font-size: 1.7rem;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: none;
  border: 0.1rem solid #858585;
  padding: 2rem 3rem;
}
.form__input ::-moz-placeholder {
  color: #dcdcdc;
}
.form__input :-ms-input-placeholder {
  color: #dcdcdc;
}
.form__input ::placeholder {
  color: #dcdcdc;
}

.input__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.input__name label {
  width: 100%;
}
.input__name input {
  padding: 2rem 1rem 2rem 3rem;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .input__name {
    flex-direction: column;
  }
}

.input__persons {
  display: flex;
  gap: 2rem;
}
.input__persons label {
  width: 100%;
}
.input__persons input {
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .input__persons {
    flex-direction: column;
  }
}

.news {
  padding: 14rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .news {
    padding: 6rem 4rem;
  }
}

.news__text {
  text-align: center;
}

.news__text--title {
  margin-bottom: 1.3rem;
  color: #292e36;
}

.news__text--subtitle,
.card__text--subtitle {
  color: #555555;
}

.news__blog {
  display: flex;
  gap: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .news__blog {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.blog__card {
  border: 0.1rem solid #dcdcdc;
}

.card__img {
  margin-bottom: 5rem;
  position: relative;
}

.card__img > img {
  filter: brightness(50%);
}

.img__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__text {
  padding: 0 5rem 5rem;
}

.card__text--titleInfo {
  margin-bottom: 2rem;
  display: flex;
  gap: 3rem;
}

.card__text--title {
  margin-bottom: 2.4rem;
  color: #292e36;
}

.offers {
  padding: 12rem 4rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .offers {
    padding: 6rem 4rem;
  }
}

.offers__text {
  text-align: center;
}

.offers__text--title {
  color: #292e36;
  margin-bottom: 1.5rem;
}

.offres__text--subtitle {
  color: #555555;
}

.offers__menu {
  width: 50%;
  display: flex;
  align-content: center;
  gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .offers__menu {
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.offers__menu > img {
  cursor: pointer;
}

.popular {
  padding: 6rem 4rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .popular {
    padding: 6rem 4rem;
  }
}

.popular__text {
  text-align: center;
}

.popular__text--title {
  color: #292e36;
  margin-bottom: 1.5rem;
}

.popular__text--subtitle {
  color: #555555;
}

.popular__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.menu__box {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box__img {
  overflow: hidden;
}

.box__img > img {
  cursor: pointer;
  transition: all 2s ease;
}

.box__img > img:hover {
  transform: scale(1.1);
}

.box__titlePrice {
  display: flex;
  justify-content: space-between;
}

.box__titlePrice--title {
  color: #292e36;
}

.box__titlePrice--price {
  color: #292e36;
}

.box__line--grey {
  width: 100%;
  height: 0.1rem;
  background-color: #dcdcdc;
}

.box__subtitle {
  color: #555555;
}

.popular__btn {
  display: flex;
  align-self: center;
}

.services {
  padding: 14rem 4rem;
  background-color: #292e36;
  display: flex;
  align-items: center;
  gap: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .services {
    flex-direction: column;
  }
}
@media only screen and (max-width: 37.5em) {
  .services {
    padding: 6rem 4rem;
  }
}

.services__text {
  max-width: 30%;
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .services__text {
    max-width: 100%;
    text-align: center;
  }
}

.services__text--title {
  margin-bottom: 1.3rem;
}

.services__cards {
  display: flex;
  gap: 3rem;
}
@media only screen and (max-width: 75em) {
  .services__cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.cards__item {
  min-width: 25rem;
  height: 23rem;
  border: 2rem solid #323841;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  gap: 1.5rem;
}

.item__text > p {
  color: #fff;
  font-size: 2.5rem;
}

.story {
  padding: 4rem 4rem 12.5rem;
  background-color: #fff8f5;
  display: flex;
  align-items: center;
  gap: 4.5rem;
}
@media only screen and (max-width: 56.25em) {
  .story {
    flex-direction: column;
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    padding: 6rem 4rem;
  }
}

.story__blogs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.blogs__items {
  display: flex;
  gap: 2rem;
}

.blogs__item--title {
  color: #292e36;
  margin-bottom: 1.5rem;
}

.blogs__item--subtitle {
  color: #555555;
}

.blogs__item--sign {
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 2rem;
}

.work {
  padding: 10rem 4rem;
  background-color: #fff8f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .work {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .work {
    padding: 6rem 4rem;
  }
}

.work__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .work__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.item__svg {
  min-width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #292e36;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__info--title {
  color: #292e36;
}

.item__info--subtitle {
  color: #555555;
}

.footer {
  padding: 14rem 4rem 6rem;
  background-color: #292e36;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 6rem 4rem 6rem;
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer__links {
    flex-direction: column;
    gap: 3rem;
  }
}

.footer__links--img {
  margin-left: 8rem;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .footer__links--img {
    margin-left: 0;
  }
}

.footer__links--social {
  font-size: 2rem;
  color: #fff;
  display: flex;
  gap: 2rem;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__contact {
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    text-align: center;
  }
}

.contact__titleInfo,
.hours__titleInfo {
  color: #fff;
  margin-bottom: 3rem;
}

.contact__address--tel,
.contact__address--email {
  color: #e1b168;
}

.contact__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .contact__input {
    order: -1;
  }
}

.contact__input--btn {
  border-color: #858585;
  border-left: none;
}

.input__form {
  display: flex;
}
.input__form label {
  width: 100%;
}
.input__form input {
  width: 100%;
  padding: 2rem 9rem 2rem 3rem;
  font-size: 2.2rem;
  border: none;
  border: 0.1rem solid #858585;
  border-right: none;
  background-color: transparent;
  color: #fff;
  outline: none;
}
@media only screen and (max-width: 37.5em) {
  .input__form input {
    padding: 2rem 5rem 2rem 3rem;
  }
  .input__form input::-moz-placeholder {
    font-size: 1.5rem;
  }
  .input__form input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .input__form input::placeholder {
    font-size: 1.5rem;
  }
}

.contact__input--text {
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .contact__input--btn {
    padding: 2rem 3.5rem;
  }
}

.contact__hours {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 56.25em) {
  .contact__hours {
    align-items: center;
  }
}

.hours__days--weekdays {
  text-align: right;
}
.hours__days--weekdays span {
  color: #e1b168;
}
@media only screen and (max-width: 56.25em) {
  .hours__days--weekdays {
    text-align: center;
  }
}

.header {
  padding: 4rem 4rem 0;
  background-color: #292e36;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.header__information {
  padding-bottom: 2rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.information__title {
  font-size: 10rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .information__title {
    font-size: 8rem;
  }
}

.information__subtitle {
  margin-bottom: 3.5rem;
}

.header__img {
  margin-right: -3rem;
}
@media only screen and (max-width: 56.25em) {
  .header__img {
    margin-right: 0;
  }
}

.nav {
  padding: 4rem 4rem 0;
  background-color: #292e36;
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding-top: 1rem;
  }
}

.nav__info {
  padding-bottom: 5rem;
  border-bottom: 1px solid #5c6168;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__info {
    display: none;
  }
}

.info__btn--btn {
  letter-spacing: 0.3rem;
}

.nav__navigation {
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__links {
  display: flex;
  gap: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__links {
    display: none;
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: #555555;
    padding: 5rem;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    transition: all 0.3s ease-in;
  }
}

.active {
  display: flex;
}

.links__link {
  font-size: 2rem;
}
.links__link:hover {
  color: #e1b168;
}

.navigation__social {
  display: flex;
  gap: 2rem;
}

.social__link {
  font-size: 2rem;
}
.social__link:hover {
  color: #e1b168;
}

.burger__menu {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .burger__menu {
    position: relative;
    right: 1rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    align-self: center;
  }
  .bar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    z-index: 10;
  }
  .bar::after, .bar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
  }
  .bar::before {
    content: "";
    top: -1rem;
  }
  .bar::after {
    content: "";
    top: 1rem;
  }
  .burger__menu.active > .bar::before {
    transform: translateY(1rem) rotate(-225deg);
  }
  .burger__menu.active > .bar::after {
    transform: translateY(-1rem) rotate(225deg);
  }
  .burger__menu.active > .bar {
    background-color: transparent;
  }
}