*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul, menu {
  list-style: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-family: "Cormorant Infant", serif, sans-serif;
  color: #fff;
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}

.btn {
  padding: 2rem 5rem;
  border: none;
  border: 0.1rem solid #E1B168;
  background-color: transparent;
  color: #E1B168;
  font-size: 2.2rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #E1B168;
  color: #000;
}

.dishes {
  padding: 14rem 4rem 20rem;
}

.dishes__try > h4 {
  margin-bottom: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  display: inline-block;
  text-transform: uppercase;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
}

.dishes__try--title {
  color: #000;
  margin-bottom: 1.3rem;
}

.dishes__try--subtitle {
  color: #000;
  margin-bottom: 4.5rem;
}

.dishes__try__img {
  margin-bottom: 6rem;
}

.story {
  padding: 4rem 4rem 12.5rem;
  background-color: #FFF8F5;
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.story__blogs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.blogs__items {
  display: flex;
}

.blogs__item--title {
  color: #000;
  margin-bottom: 1.5rem;
}

.blogs__item--subtitle {
  color: #000;
}

.blogs__item--sign {
  text-transform: uppercase;
  color: #000;
  margin-bottom: 2rem;
}

.work {
  padding: 10rem 4rem;
  background-color: #FFF8F5;
  display: flex;
  gap: 10rem;
}

.work__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.item__svg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #292E36;
  display: grid;
  place-items: center;
}

.item__info--title {
  color: #000;
}

.item__info--subtitle {
  color: #000;
}

.header {
  padding: 4rem 4rem 0;
  display: flex;
  justify-content: space-between;
  background-color: #292E36;
}

.header__information {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.information__title {
  font-size: 10rem;
  margin-bottom: 2rem;
}

.information__subtitle {
  margin-bottom: 3.5rem;
}

.information__btn {
  max-width: 23rem;
}

.header__img {
  max-width: 59rem;
  max-height: 74rem;
  margin-right: -3rem;
}

.nav {
  padding: 4rem 4rem 0;
  background-color: #292E36;
  color: #fff;
}

.nav__info {
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5c6168;
}

.info__btn--btn {
  letter-spacing: 0.3rem;
}

.nav__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.navigation__links {
  display: flex;
  gap: 6rem;
}

.links__link {
  font-size: 2rem;
}
.links__link:hover {
  color: #E1B168;
}

.navigation__social {
  display: flex;
  gap: 2rem;
}

.social__link {
  font-size: 2rem;
}
.social__link:hover {
  color: #E1B168;
}