.clients {
  padding: 12rem 4rem;
  background-color: $color-header;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  gap: 3rem;
  position: relative;
  overflow: hidden;
  @include respond(phone) {
    padding: 6rem 4rem;
  }
}
.clients__text {
  @include respond(tab-port) {
    text-align: center;
  }
}
.clients__text--titleInfo {
  color: $color-textWhite;
}

.clients__slider {
  margin: 0 auto;
  max-width: 100rem;
  height: 30rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider__box {
  width: 35%;
  padding: 2rem;
  background-color: $color-sliderBox;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 35%;
  //left: 50%;
  transform: translate(0%, -35%);

  transition: all 1s ease-in-out;
}

.slider__btn--left,
.slider__btn--right {
  order: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border: none;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.slider__btn--left {
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 1;
}
.slider__btn--right {
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
}

.box__header {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.header__img--client {
  width: 10rem;
  height: 10rem;
  position: relative;
  &::after {
    content: url('../../img/F.svg');
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
}

.header__info--subtitle {
  color: $color-btn;
}
.box__line {
  width: 100%;
  height: 0.1rem;
  background-color: $color-lineBox;
}

.clients__dots {
  display: flex;
  align-self: center;
  gap: 1rem;
}
.clients__dots--dot {
  width: 2rem;
  height: 2rem;
  background-color: $color-dots;
  border-radius: 50%;
}
