.dishes {
  padding: 14rem 4rem 20rem;
  display: flex;
  gap: 5.5rem;
  @include respond(tab-port){
    flex-direction: column;
    align-items: center;
  }
}
.dishes__try {
  max-width: 48.6rem;
  @include respond(tab-port){
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

.dishes__try--title {
  color: $color-textBlack;
  margin-bottom: 1.3rem;
}
.dishes__try--subtitle {
  color: $color-textBlack;
  margin-bottom: 4.5rem;
}
.dishes__try__img {
  max-width: 40rem;
  margin-bottom: 6rem;
}
.dishes__menu {
  width: 100%;
}
.menu__item {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 7rem;
}
.menu__item--title {
  color: $color-textBlack;
  @include respond(phone){
    text-align: center;
  }
}

.item__eat {
  width: 80rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  &:hover {
    color: #000;
    background-color: rgba(235, 233, 233, 0.299);
    border-radius: 1rem;
    cursor: pointer;
  }
  @include respond(tab-land){
    width: 70rem;
  }
  @include respond(tab-port){
    width: 100%;
  }
  @include respond(phone){
    padding: 2rem;
    background-color: $color-openHours;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    &:hover {
    cursor: pointer;
  }
  }
}

.eat__img {
  max-width: 8.4rem;
}
.eat__text {
  width: 100%;
}
.eat__text--title {
  color: $color-textTitle;
}
.eat__text--subtitle {
  color: $color-textSubTitle;
}

.eat__text--span {
  margin-top: 4rem;
  width: 70%;
  height: 0.2rem;
  background-color: $color-span;
  @include respond(tab-land){
    width: 30%;
  }
  @include respond(tab-port){
    width: 100%;
  }
  @include respond(phone){
    width: 10%;
  }
  
}
.eat__text--price {
  color: $color-textSubTitle;
}
