.offers {
  padding: 12rem 4rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include respond(phone) {
    padding: 6rem 4rem;
   
  }
}
.offers__text {
  text-align: center;
}

.offers__text--title {
  color: $color-textTitle;
  margin-bottom: 1.5rem;
}

.offres__text--subtitle {
  color: $color-textSubTitle;
}

.offers__menu {
  width: 50%;
  display: flex;
  align-content: center;
  gap: 3rem;
  @include respond(tab-port) {
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
.offers__menu > img {
  cursor: pointer;
}
