.story {
  padding: 4rem 4rem 12.5rem;
  background-color: $color-openHours;
  display: flex;
  align-items: center;
  gap: 4.5rem;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.story__blogs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.blogs__items {
  display: flex;
  gap: 2rem;
}
.blogs__item--title {
  color: $color-textTitle;
  margin-bottom: 1.5rem;
}

.blogs__item--subtitle {
  color: $color-textSubTitle;
}

.blogs__item--sign {
  text-transform: uppercase;
  color: $color-textSubTitle;
  margin-bottom: 2rem;
}
