.footer {
  padding: 14rem 4rem 6rem;
  background-color: $color-header;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @include respond(phone) {
    padding: 6rem 4rem 6rem;
  }
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
    gap: 3rem;
  }
}
.footer__links--img {
  margin-left: 8rem;
  cursor: pointer;
  @include respond(tab-port) {
    margin-left: 0;
  }
}
.footer__links--social {
  font-size: 2rem;
  color: $color-textWhite;
  display: flex;
  gap: 2rem;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  @include respond(tab-port) {
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    text-align: center;
  }
}

.contact__titleInfo,
.hours__titleInfo {
  color: $color-textWhite;
  margin-bottom: 3rem;
}

.contact__address--tel,
.contact__address--email {
  color: $color-btn;
}

.contact__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(tab-port) {
    order: -1;
  }
}
.contact__input--btn {
  border-color: $color-input;
  border-left: none;
}
.input__form {
  display: flex;
  label {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 2rem 9rem 2rem 3rem;
    font-size: $fz-22;
    border: none;
    border: 0.1rem solid $color-input;
    border-right: none;
    background-color: transparent;
    color: $color-textWhite;
    outline: none;
    @include respond(phone) {
      padding: 2rem 5rem 2rem 3rem;
      &::placeholder {
        font-size: 1.5rem;
      }
    }
  }
}
.contact__input--text {
  margin-bottom: 2rem;
  text-align: center;
}
.contact__input--btn {
  @include respond(phone) {
    padding: 2rem 3.5rem;
  }
}
.contact__hours {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include respond(tab-port) {
    align-items: center;
  }
}

.hours__days--weekdays {
  text-align: right;
  span {
    color: $color-btn;
  }
  @include respond(tab-port) {
    text-align: center;
  }
}
