.nav {
 
  padding: $padding-container;
  background-color: $color-header;
  color: $color-textWhite;
}
.nav__info {
  padding-bottom: 5rem;
  border-bottom: 1px solid #5c6168;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  @include respond(tab-port) {
    flex-direction: column;
    gap: 5rem;
  }
}
.info__btn--btn {
  letter-spacing: 0.3rem;
}
.nav__navigation {
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__links {
  display: flex;
  gap: 6rem;
  @include respond(tab-port) {
      position: absolute;
      top: 1rem;
      right: -100%;
      background-color: $color-btn;
      padding: 5rem;
      flex-direction: column;
      gap: 3rem;
      text-align: center;
      transition: all .3s ease-in;
  }
}
.active {
  right: 0;
}


.links__link {
  font-size: $fz-20;
  &:hover {
    color: $color-btn;
  }
  
}
.navigation__social {
  display: flex;
  gap: 2rem;
}
.social__link {
  font-size: $fz-20;
  &:hover {
    color: $color-btn;
  }
}


//burger menu


.buger__menu {
  position: relative;
  right: 1rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  align-self: center;

}
.bar {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  height: .3rem;
  background-color: #fff;
  z-index: 10;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .3rem;
    background-color: #fff;
  }
  &::before{
    content: '';
    top: -1rem;
  }
  &::after {
    content: '';
    top: 1rem;
  }

  
}
.buger__menu + .bar.active{
    transform: rotate(45deg);
  }