.nav {
  padding: $padding-container;
  background-color: $color-header;
  color: $color-textWhite;
  @include respond(phone) {
    padding-top: 1rem;
  }
}
.nav__info {
  padding-bottom: 5rem;
  border-bottom: 1px solid #5c6168;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  @include respond(tab-port) {
    display: none;
  }
}
.info__btn--btn {
  letter-spacing: 0.3rem;
}
.nav__navigation {
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__links {
  display: flex;
  gap: 6rem;
  @include respond(tab-port) {
    display: none;
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: $color-textSubTitle;
    padding: 5rem;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    transition: all 0.3s ease-in;
  }
}
.active {
  display: flex;
}

.links__link {
  font-size: $fz-20;
  &:hover {
    color: $color-btn;
  }
}

.navigation__social {
  display: flex;
  gap: 2rem;
}
.social__link {
  font-size: $fz-20;
  &:hover {
    color: $color-btn;
  }
}

//burger menu
.burger__menu {
  display: none;
}
@include respond(tab-port) {
  .burger__menu {
    position: relative;
    right: 1rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    align-self: center;
  }
  .bar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    z-index: 10;
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.3rem;
      background-color: #fff;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &::before {
      content: '';
      top: -1rem;
    }
    &::after {
      content: '';
      top: 1rem;
    }
  }
  .burger__menu.active > .bar::before {
    transform: translateY(1rem) rotate(-225deg);
  }
  .burger__menu.active > .bar::after {
    transform: translateY(-1rem) rotate(225deg);
  }
  .burger__menu.active > .bar {
    background-color: transparent;
  } 
}
