
.title {
    font-size: 3rem;
    font-family: $text-title, sans-serif;
    color: $color-textWhite;
}
.subtitle {
    font-size: 2rem;
    color: $color-textWhite;
    line-height: 1.5;
}

.titleInfo {
    margin-bottom: 1.2rem; //< watch this line!!!
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    display: inline-block;
    text-transform: uppercase;
    border-top: 1px solid $color-btn;
    border-bottom: 1px solid $color-btn;
}

.fz40 {
  font-size: $fz-40;
}
.fz36 {
  font-size: $fz-36;
}