$text-title: 'Cormorant Infant', serif;
$text-subtitle: 'Josefin Sans', sans-serif;


// color
$color-textWhite: #fff;
$color-header: #292E36;
$color-openHours: #FFF8F5;
$color-btn: #E1B168;
$color-textBlack: #000;
$color-imgHeader: #FFFFFF1A;

// Font Size
$fz-22: 2.2rem;
$fz-20: 2rem;

$padding-container: 4rem 4rem 0;